<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sia.advertisement.mapper.UserProfileAnalysisMapper">

    <resultMap id="analysisMap" type="sia.advertisement.entity.UserProfileAnalysis">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="portraitResult" column="portrait_result"/>
        <result property="matchedResult" column="matched_result"/>
        <result property="matchedAdIds" column="matched_ad_ids"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" parameterType="sia.advertisement.entity.UserProfileAnalysis"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_profile_analysis (user_id, photo_url, portrait_result, matched_result, matched_ad_ids)
        VALUES (#{userId}, #{photoUrl}, #{portraitResult}, #{matchedResult}, #{matchedAdIds})
    </insert>

    <select id="selectByUserId" resultMap="analysisMap">
        SELECT * FROM user_profile_analysis WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>

</mapper>
